<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <title>books.fanshibox.com</title>
    <meta name="description" content="Buku Berkwalitas Untuk Buah Hati Anda">
    <link rel="stylesheet" href="/css/style.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74415831-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>
    <div class="container">
        <h1 class="site-title"><a href="/">books.fanshibox.com</a></h1>
        <p class="site-tag">Buku Berkwalitas Untuk Buah Hati Anda</p>

        <nav>
            <ul class="nav">
                {% for nav_item in site.data.nav %} {% if page.url == nav_item.link %}
                <li class="active">
                    {% else %}
                    <li>
                        {% endif %}
                        <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                    </li>
                    {% endfor %}
            </ul>
        </nav>
        <div class="mainbar">
            {{content}}
        </div>
    </div>
    


</body>

</html>
